body{
    margin: 0 auto;
}

#mwb-wrapper { 
    padding:20px;
    border:7px solid #B69F7D;
    max-width: 800px;
    width: 100%;
    margin: 10px auto;
}

#mwb-wrapper #mwb-wrap{
  position: relative;
  font-family: Helvetica, sans-serif;
  background-position: center;
  display: block;
  background-image: url(images/i1.png);
  border:2px solid #5D4037;
}

/* IMAGE */
#mwb-wrapper #mwb-wrap .mwb-image img{
  height:100px;
  max-width:100px;
  width:100%;
  /* box-shadow: -3px 5px 20px 10px rgba(39, 11, 11, 0.3); */
}

#mwb-wrapper #mwb-wrap img{
  width:20px;
}
#mwb-wrapper #mwb-wrap .mwb-image{
  position: absolute;
  margin: 0 auto;
  top: 39%;
  right: 16px;
  content: "";
  transform: translateY(-50%);

}
#mwb-wrapper #mwb-wrap .mwb-image:before{
  content:"";
  position:absolute;
  border:8px solid #B69F7D;
  top: 8px;
  left: -8.5px;
  right:0;
  bottom:0;
  width:80%;
  height:80%;
  z-index:-1;
}
/* TEXT */
#mwb-wrapper #mwb-wrap .mwb-text{
  padding-left: 20px;
  padding-right: 160px;
  padding-top: 10px;
  padding-bottom: 45px;
}
#mwb-wrapper #mwb-wrap .mwb-text p{
  font-size: 14px;
  color: #B69F7D;
}

#mwb-wrapper #mwb-wrap .mwb-text p:nth-child(3){
  font-size: 18px;
  color:#5D4037;
  padding-top: 0px;
}
#mwb-wrapper #mwb-wrap .mwb-text h2{
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  color:#5D4037;
  padding: 0px 3px;
  height: 10px;
  font-size: 25px;
  line-height: 10px;
  margin-top: -0.8em;
  background: white none repeat scroll 0 0;
  width:33%;
}


/* FOOTER */


#mwb-wrapper #mwb-wrap .mwb-footer{
  position: absolute;
  margin: 0 auto;
  top: 84%;
  right: 18px;
  content: "";
  transform: translateY(-50%);
}

#mwb-wrapper #mwb-wrap .mwb-footer i{
  padding: 7px 7px;
  font-size: 15px;
  line-height: 8px;
  color:#5D4037;
  background-color: #CFC5B5;
  border-radius: 30%;
}

#mwb-wrapper #mwb-wrap .mwb-footer h2{
  /* font-style: italic; */
  font-weight: bold
  font-weight: lighter;
  font-size: 17px;
  line-height: 15px;
}

#mwb-wrapper #mwb-wrap .mwb-footer a{
  color: #000000;
}

@media only screen and (max-width:992px) {
#mwb-wrapper{
  max-width:652px;
}
#mwb-wrapper #mwb-wrap{
  max-width: 650px;
}
#mwb-wrapper #mwb-wrap .mwb-footer{
  padding-left: 170px;
}
#mwb-wrapper #mwb-wrap .mwb-text h2{
  width:43%;
}
}

@media screen and (max-width:768px) {

#mwb-wrapper { 
  max-width: 285px;
  padding:20px 5px 15px 5px;
}

#mwb-wrapper #mwb-wrap{
  width:100%;
  max-width: 280px;
}

/* IMAGE */
#mwb-wrapper #mwb-wrap .mwb-image img{
  height:100px;
  width:100px;
  /* box-shadow: -3px 5px 20px 10px rgba(0,0,0,0.25); */
}


#mwb-wrapper #mwb-wrap .mwb-image{
  position: absolute;
  margin: 0 auto;
  top: 15%;
  left: 50%;
  content: "";
  transform: translateX(-50%);

}


/* TEXT */
#mwb-wrapper #mwb-wrap .mwb-text{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 120px;
  padding-bottom: 0px;
  text-align: justify;
}
#mwb-wrapper #mwb-wrap p{
  font-size: 14px;
  color:#9E9E9E;
}
#mwb-wrapper #mwb-wrap .mwb-text h2 {
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    color: #5D4037;
    padding: 0px 3px;
    height: 10px;
    font-size: 25px;
    line-height: 10px;
    margin-top: -5.2em;
    background: white none repeat scroll 0 0;
    width: 84%;
}
#mwb-wrapper #mwb-wrap .mwb-text p:nth-child(3) {
    font-size: 17px;
    color: #5D4037;
    padding-top: 130px;
}
#mwb-wrapper #mwb-wrap .mwb-image::before {
    content: "";
    position: absolute;
    border: 8px solid #B69F7D;
    top: 10px;
    left: -8.5px;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 78%;
    z-index: -1;
}
/* FOOTER */


#mwb-wrapper #mwb-wrap .mwb-footer{
  position: absolute;
  margin: 0 auto;
  top: 26%;
  right: 20px;
  content: "";
  transform: translateY(-50%);
}

#mwb-wrapper #mwb-wrap .mwb-footer i{
  padding: 6px 6px;
  font-size: 15px;
  display:block;
  margin-bottom: 10px;
}

#mwb-wrapper #mwb-wrap .mwb-footer h2{
  /* font-style: italic; */
  font-weight: bold
  font-weight: lighter;
  font-size: 15px;
  line-height: 19px;
}

}